.bold {
	font-weight: bold;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	margin: auto;
	background-color: #ccccff;
	font-family: Courier, monospace;
}

td {
	border: 2px solid black;
	padding: 3px;
	margin: 1px;
	height: 35px;
}

h1 {
	text-align: center;
	color: white;
}

body {
	background-image: url("https://wallpaperscraft.com/image/planet_light_spots_space_86643_1920x1080.jpg");
}

tr:nth-child(odd){
	background-color: #9999ff;
}

.d1 {
	border: 5px double white;
	width: 50%;
	margin: auto;
}